<!-- Welcome section starts -->
<div class="container">

  <div class="wrapper">
    <div class="coupon-card">
      <h3>UP TO 25% OFF SELECT STYLES</h3>
      <a href="">SHOP HOT PICKS</a>
    </div>
  </div>  
</div>
<!-- Welcome section ends -->
{% schema %}
{
  "name": "coupon",
  "settings": [],
  "presets": [
    {
    "name": "coupon",
    "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
{% style %}

{% endstyle %}
{% javascript %}
{% endjavascript %}
